/* Base */
$link-color: #C67EE0;
$bg-color: #FDFCFA;
$text-color: #000;
$faded-color: #aaa;
$fade-dur: 0.2s;
 
@import url("/crimson/crimson.css");

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

::-moz-selection {
  color: #fff;
  background-color: $link-color;
}

::selection {
  color: #fff;
  background-color: $link-color;
}

body {
  font-family: "Crimson", serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  //background: url(/rose.png) no-repeat top right;
  //background-size: 50px;
  background-color: $bg-color;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin-top: 1em;
}

h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 130%; font-weight: bold; }
h4 { font-size: 100%; font-weight: bold; }

a, .clickable {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
  text-decoration-skip: ink;
  outline: 0;
}
a:hover, .clickable:hover {
  color: $link-color;
  text-decoration: underline;
}
a:visited { color: $link-color; }

p {
  margin: 0.6em 0 0.8em 0;
}

img {
  max-width: 100%;
}

ul, ol {
  margin: 0 30px;
}

pre {
  box-sizing: border-box;
  padding: 10px 15px;
}

code, pre {
  font-size: 92%;
}

iframe {
  width: 100%;
  border: 0;
}

.tsunami-widget {
  resize: vertical;
}

.container {
  min-height: 100%;
  position: relative;
}

.site-header {
  border-top: 3px solid $link-color;
  padding: 30px 0 0 0;
}

.site-title { font-size: 100%; font-weight: bold; }

.page-content {
  padding-bottom: 40px;
}

.site-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom: 3px solid $link-color;
}

/* Utility */
.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  zoom: 1;
}

.controls {
  margin-left: 0px;
}

.control {
  display: inline-block;
  vertical-align: text-top;
  margin: 0 5px;
}

.control label {
  display: block;
}

.control input, .control select {
  display: block;
}

input, select {
  appearance: none;
  background-color: transparent;
  height: 25px;
}

.footnote-definition-label {
  float: left;
  margin-right: 5px;
}

hr {
  margin: 30px;
  border: 0;
  height: 1px;
  background: $faded-color;
}

hr.grave {
  height: 20px;
  background: transparent;
  background-image: url('/grave.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  border-bottom: 1px solid $faded-color;
  image-rendering: crisp-edges;
}
