/* Base */
$link-color: #c91026;
$bg-color: #fff8f3;
$text-color: #000;
$faded-color: #aaa;
$fade-dur: 0.2s;

// @import url("/crimson/crimson.css");
// @import url("/victor-mono/index.css");
// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overscroll-behavior: none;
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

::-moz-selection {
  color: #fff;
  background-color: $link-color;
}

::selection {
  color: #fff;
  background-color: $link-color;
}

body {
  font-family: "Iosevka neynt Web", monospace;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  //background: url(/rose.png) no-repeat top right;
  //background-size: 50px;
  background-color: $bg-color;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin-top: 1em;
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 700;
}
h4 {
  font-weight: 300;
}
h5 {
  font-weight: 200;
}
h6 {
  font-weight: 100;
}

a, .clickable {
  cursor: pointer;
  color: $link-color;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: color-mix(in oklab, $link-color 30%, $bg-color 70%);
  outline: 0;
}
a:visited {
  color: $link-color;
}
a:hover, .clickable:hover {
  // color: $link-color;
  color: color-mix(in oklab, $link-color 70%, $bg-color 30%);
  text-decoration-color: color-mix(in oklab, $link-color 50%, $bg-color 50%);
}

p {
  margin: 0.65em 0 0.65em 0;
}

img {
  max-width: 100%;
}

ul, ol {
  margin: 0 30px;
}

li {
  margin: 7px 0;
}

strong {
  font-weight: 700;
}

pre {
  box-sizing: border-box;
  padding: 10px 15px;
}

code, pre {
  font-size: 92%;
}

iframe {
  width: 100%;
  border: 0;
}

.tsunami-widget {
  resize: vertical;
}

.container {
  min-height: 100%;
  position: relative;
}

.site-header {
  border-top: 3px solid $link-color;
  padding: 30px 0 0 0;
}

.site-title { font-size: 100%; font-weight: 700; }

.page-content {
  padding-bottom: 40px;
}

.site-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-bottom: 3px solid $link-color;
}

/* Utility */
.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  zoom: 1;
}

.controls {
  margin-left: 0px;
}

.control {
  display: inline-block;
  vertical-align: text-top;
  margin: 0 5px;
}

.control label {
  display: block;
}

.control input, .control select {
  display: block;
}

.date {
  color: color-mix(in oklab, $text-color 40%, $bg-color 60%);
}

input, select {
  appearance: none;
  background-color: transparent;
  height: 25px;
}

.footnote-definition-label {
  float: left;
  margin-right: 5px;
}

hr {
  margin: 30px;
  border: 0;
  height: 1px;
  background: $faded-color;
}

hr.grave {
  height: 20px;
  background: transparent;
  background-image: url('/grave.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  border-bottom: 1px solid $faded-color;
  image-rendering: crisp-edges;
}
