
@font-face {
	font-family: 'Iosevka neynt Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/neynt-Regular.woff2') format('woff2'), url('TTF/neynt-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka neynt Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/neynt-Italic.woff2') format('woff2'), url('TTF/neynt-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka neynt Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/neynt-Bold.woff2') format('woff2'), url('TTF/neynt-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka neynt Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/neynt-BoldItalic.woff2') format('woff2'), url('TTF/neynt-BoldItalic.ttf') format('truetype');
}
